.footer-image {
    background-image: linear-gradient(rgba(31, 43, 59, 0.92), rgba(31, 43, 59, 0.92)),
    url('../../assets/foodDonatin1.jpg');
    background-size: cover;
    background-position-y: bottom;

}